:root {
    --main-color: #2c3e50;
    --transition-color: #2c3e50;
    --main-font-color: white;
}
body,
html {
    margin: 0;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    height: 100%;
}
#message-box {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 5;
    font-size: 0.9rem;
}
body {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: white;
}
#container-wrapper {
    position: relative;
    height: 100%;
    flex-grow: 1;
}
#canvas{
    display: block; 
    background: white;
    height: 100%; 
    width: 100%; 
}
#modify-graph {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    background-color: #ecf0f1;
    min-width: 210px;
}
#modify-graph > * {
    margin-bottom: 0.2em;
}
#modify-graph button,
select {
    padding: 0.5em 1.5em;
    box-sizing: border-box;
    font-size: 0.85rem;
    border-radius: 5px;
    border: transparent;
    background-color: var(--main-color);
    color: var(--main-font-color);
}
#modify-graph button:hover {
    background-color: var(--transition-color);
    transition: all 0.1s linear;
}
#modify-graph select.hide {
    display: none;
}
#algorithms:focus {
    outline: none;
}

#change-data.hide {
    display: none;
}
#change-data {
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
}
#change-data input {
    font-size: 0.85rem;
    border: solid 2px #000000;
    border-radius: 3px;
    color: #000000;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#change-data input:focus {
    border: solid 3px #000000;
    outline: none;
}
#play-box.hide {
    display: none;
}
#play-box {
    min-width: 220px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 5;
}
#play-box button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: solid 1px black;
    border-radius: 5px;
}
#play-box button svg {
    fill: black;
}
#play-box button:hover {
    background-color: rgb(245, 245, 245);
    transition: all 0.1s linear;
}
#play-box button.hide {
    display: none;
}
#toggle-speed {
    border: none;
    padding: 0;
    height: 35px;
    width: 35px;
    margin-left: 10px;
}
#speed-input {
    width: 200px;
}
#toggle-speed .tooltip {
    top: -40px;
    right: 0;
}
#speed-box {
    width: 430px;
    height: 50px;
    position: absolute;
    bottom: 10px;
    right: 5px;
    z-index: 5;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
#speed-box.hide{
    display: none;
}
#speed-box .box-information{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 5px;
}
#speed-box .box-information.hide{
    display: none;
}
#speed-box svg{
    fill: white;
}
button {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: var(--main-color);
    cursor: pointer;
}
#path-info {
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 5;
    display: flex;
    flex-direction: column;
    text-align: left;
}
#path-info p {
    margin: 0;
}
#path-info.hide {
    display: none;
}

#algorithm-information-box {
    position: absolute;
    top: 40px;
    left: 5px;
    z-index: 5;
    width: 350px;
}
#algorithm-information-box.hide{
    display: none;
}
#algorithm-info {
    font-size: 0.6rem;
    width: 100%;
    height: 70vh;
    border-radius: 3px;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    text-overflow: auto;
    overflow: scroll;
    box-sizing: border-box;
}
#algorithm-info h4{
    margin-top: 0;
}
#toggle-info {
    border: none;
    padding: 0;
    height: 35px;
    width: 35px;
    position: relative;
}
#toggle-info .tooltip {
    position: absolute;
    left: 40px;
    top: 0px;
    transform: translateY(-50%);
}
#toggle-info svg {
    fill: white;
}
.toggle svg.hide {
    display: none;
}
.box-information.hide {
    display: none;
}
.tooltip {
    position: absolute;
    transition: all 0.5s linear;
    background-color: var(--main-color);
    white-space: nowrap;
    padding: 1px 5px;
    border: none;
    border-radius: 3px;
    color: var(--main-font-color);
    font-weight: bold;
}
.tooltip.hide {
    display: none;
}
#ds-container {
    margin-top: 20px;
    display: flex;
    gap: 5px;
    flex-wrap: nowrap;
    margin-bottom: 20px;
    width: 100%;
    overflow: auto;
}
#algorithm-info .ds-name{
    text-transform: capitalize;
    text-align: center;
}
#info-text{
    font-size: 0.65rem;
    min-height: 30%;
    text-wrap: wrap;
}
.ds-box {
    height: 25px;
    background-color: #f0f0f0;
    border: 2px solid #000000;
    border-radius: 5px;
    font-weight: bold;
    width: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
#queue-label {
    font-size: 0.65rem;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#stack-label {
    font-size: 0.65rem;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.stack {
    flex-direction: column-reverse;
    align-items: center;
}
.queue,
.priority-queue {
    flex-direction: row;
}
