body,
html {
    height: 100vh;
    margin: 0;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    color: #5b63b7;
}
#playground #message-box {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 5;
}
#playground .vis-network {
    margin-bottom: 10px;
    background-color: #fff3fa;
}
#playground {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    background-color: #fff3fa;
}
#container-wrapper{
  position: relative;
  width: 80%;
  height: 100vh;
  flex-grow: 1;
}
#container {
  width: 100%;
  height: 100vh;
}
#modify-graph {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    max-width: 200px;
    height: 100%;
    margin-right: 10px;
    margin-top: 10px;
}
#modify-graph >*{
  margin-bottom: 0.2em;
}
#modify-graph button, select {
    padding: 0.5em 1.5em;
    box-sizing: border-box;
    font-size: 1rem;
    border-radius: 5px;
    border: transparent;
    background-color: #cbccff;
    color: #5b63b7;
    font-weight: bold;
}
#modify-graph button:hover{
    background-color: #acaeff;
    transition: all 0.3s linear;
}
#modify-graph select.hide{
  display:none;
}
#algorithms:focus {
  outline: none;
}

#change-data.hide {
    display: none;
}
#change-data {
    display: flex;
    flex-direction: column;
    font-size: 1em;
}
#change-data input{
  font-size: 0.9em;
  border: solid 2px #6c74d3;
  border-radius: 3px;
  color: #5b63b7;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#change-data input:focus{
  border: solid 3px #6c74d3;
  outline: none;
}
#animation-box.hide{
  display:none;
}
#animation-box{
  min-width: 160px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 5;
}
#animation-box button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5b63b7;
  border: none;
  border-radius: 5px;
}
#animation-box button:hover{
  background-color: #6c74d3;
  transition: all 0.4s linear;
}
#animation-box button.hide{
  display:none;
}
#toggle-speed{
    background-color: #cbccff;
    border: none;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-43%);
    padding: 0;
    height: 35px;
    width: 35px;
}
#hide-speed.hide{
  display: none;
}
#open-speed.hide{
  display: none;
}
#toggle-speed svg{
    fill: #5b63b7;
}
#toggle-speed:hover svg{
    cursor: pointer;
}
#speed-input{
    width: 200px;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}
#speed-input.hide{
  display: none;
}
.tooltip{
    top: -40px;
    right: 0;
    position: absolute;
    transition: all 0.5s linear;
    background-color: #cbccff;
    white-space: nowrap;
    padding: 1px 5px;
    border: none;
    border-radius: 3px;
    color: #5b63b7;
    font-weight: bold;
}
.tooltip.hide{
  display: none;
}
#speed-box{
    width: 250px;
    height: 30px;
    position: relative;
}
#speed-info{
  font-size: 0.9rem;
  position: absolute;
  white-space: nowrap;
  width: 120px;
  left: -120px;
  top: 50%;
  transform: translateY(-50%);
}
#speed-info.hide{
  display: none;
}
#speed-box-wrapper{
  position: absolute;
  bottom: 10px;
  right: 5px;
  z-index: 5;
}
button{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

