:root{
    --image-width: 50%;
    --image-height: auto;
    --main-color:  rgba(44, 62, 80, 1);
    --header-height: 150px;
}
html, body{
    min-height: 100vh;
    margin: 0;
    font-family: 'Open Sans', Helvetica, sans-serif;
}
body {
    background: linear-gradient(283deg,rgba(44, 62, 80, 1) 0%, rgba(44, 62, 80, 1) 39%, rgba(225, 243, 255, 1) 100%);
}
#links{
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    align-items: center;
    margin-bottom: 50px;
}
.card{
    position: relative;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-title{
    font-size: 2rem;
    font-weight: bold;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    color: white;
    margin-bottom: 1rem;
}
.card img{
    width: var(--image-width);
    height: var(--image-height);
    border-radius: 5px;
}
header{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(44, 62, 80, 1);
    border-bottom: 2px solid white;
    z-index: 5;
    height: var(--header-height);
    box-sizing: border-box;
}
header svg{
    fill: white;
    height: 80%;
}
header h1{
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin: auto;
}
#introduction{
    margin-top: var(--header-height);
    padding: 1rem 2rem;
}

