:root{
    --image-width: 50%;
    --image-height: auto;
    --main-color:  rgba(44, 62, 80, 1);
}
html, body{
    min-height: 100vh;
    margin: 0;
    font-family: 'Open Sans', Helvetica, sans-serif;
}
body {
    background: linear-gradient(283deg,rgba(44, 62, 80, 1) 0%, rgba(44, 62, 80, 1) 39%, rgba(225, 243, 255, 1) 100%);
}
#links{
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    align-items: center;
    margin-bottom: 50px;
}
.card{
    position: relative;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-title{
    font-size: 2rem;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    color: white;
}
.card img{
    width: var(--image-width);
    height: var(--image-height);
    border-radius: 5px;
}
header{
    margin-top: 1rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header h2{
    color: white;
    font-size: 1.5rem;
    text-align: center;
}