#edit-container #message-box{
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 5;
}
#edit-container .vis-network{
  border: solid 1px black;
  margin-bottom: 10px;
  background-color: blanchedalmond;
}
#edit-container{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}
#modify-graph{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 20%;
}
#modify-graph button{
  font-size: 1.2rem;
  margin-bottom: 0.2em;
}
html{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
#change-data.hide{
  display: none;
}
#change-data{
  display: flex;
  flex-direction: column;
}
#change-data .message-box.hidden{
  display: none;
}
#change-data .message-box{
  background-color: rgb(255, 109, 109);
  color: white;
  border: solid 1px rgb(255, 47, 47);
  padding: 0.2em 1.5em;
}